In [7]:
import pandas as pd

df = pd.read_csv('/Users/giovanni-lunetta/uconn_masters/s2/stat_5125/Final Project/all_games_df.csv')
df_old = pd.read_csv('/Users/giovanni-lunetta/uconn_masters/s2/stat_5125/Final Project/regular_season_2002_2020.csv')

df.head()

,...1,Year_Week,Round,Day,Date,Time (ET),Favorite_Home,Favorite,Underdog,Favorite_Win,Overtime,Favorite_Score,Underdog_Score,Total_Points,Over_Under_Result,Betting_Line,Favorite_Cover,Spread_Value,Playoff_Game
0,1,Year_2002_Playoffs,AFC Wild Card,Sat,2003-01-04,4H 39M 0S,H,New York Jets,Indianapolis Colts,1,0,41,0,41,Under,42.0,Covered,-6.0,1
1,2,Year_2002_Playoffs,NFC Wild Card,Sat,2003-01-04,8H 8M 0S,H,Green Bay Packers,Atlanta Falcons,0,0,7,27,34,Under,40.5,Failed,-6.5,1
2,3,Year_2002_Playoffs,AFC Wild Card,Sun,2003-01-05,1H 1M 0S,H,Pittsburgh Steelers,Cleveland Browns,1,0,36,33,69,Over,41.0,Failed,-8.0,1
3,4,Year_2002_Playoffs,NFC Wild Card,Sun,2003-01-05,4H 47M 0S,H,San Francisco 49ers,New York Giants,1,0,39,38,77,Over,41.0,Failed,-3.0,1
4,5,Year_2002_Playoffs,AFC Divisional,Sat,2003-01-11,4H 36M 0S,H,Tennessee Titans,Pittsburgh Steelers,1,1,34,31,65,Over,44.0,Failed,-4.5,1

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5929 entries, 0 to 5928
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ...1               5929 non-null   int64
 1   Year_Week          5929 non-null   object
 2   Round              250 non-null    object
 3   Day                5929 non-null   object
 4   Date               5929 non-null   object
 5   Time (ET)          5929 non-null   object
 6   Favorite_Home      5929 non-null   object
 7   Favorite           5929 non-null   object
 8   Underdog           5929 non-null   object
 9   Favorite_Win       5929 non-null   int64
 10  Overtime           5929 non-null   int64
 11  Favorite_Score     5929 non-null   int64
 12  Underdog_Score     5929 non-null   int64
 13  Total_Points       5929 non-null   int64
 14  Over_Under_Result  5929 non-null   object
 15  Betting_Line       5929 non-null   float64
 16  Favorite_Cover     5929 non-null   object
 17  Spread_Value       5890 non-null   float64
 18  Playoff_Game       5929 non-null   int64
dtypes: float64(2), int64(7), object(10)
memory usage: 880.2+ KB

In [25]:
# create a dataframe where spread is null

df_null = df[df['Spread_Value'].isna()]

df_null

,...1,Year_Week,Round,Day,Date,Time (ET),Favorite_Home,Favorite,Underdog,Favorite_Win,Overtime,Favorite_Score,Underdog_Score,Total_Points,Over_Under_Result,Betting_Line,Favorite_Cover,Spread_Value,Playoff_Game
252,3,Year_2002_Week_1,NaN,Sun,2002-09-08,1H 4M 0S,H,Carolina Panthers,Baltimore Ravens,1,0,10,7,17,Under,33.0,Covered,NaN,0
266,17,Year_2002_Week_2,NaN,Sun,2002-09-15,1H 0M 0S,H,Indianapolis Colts,Miami Dolphins,0,0,13,21,34,Under,47.0,Failed,NaN,0
556,307,Year_2003_Week_4,NaN,Sun,2003-09-28,1H 3M 0S,H,Minnesota Vikings,San Francisco 49ers,1,0,35,7,42,Under,43.0,Covered,NaN,0
595,346,Year_2003_Week_7,NaN,Sun,2003-10-19,1H 2M 0S,H,Carolina Panthers,Tennessee Titans,0,0,17,37,54,Over,37.5,Failed,NaN,0
643,394,Year_2003_Week_10,NaN,Sun,2003-11-09,1H 3M 0S,H,Detroit Lions,Chicago Bears,1,0,12,10,22,Under,37.5,Covered,NaN,0
834,585,Year_2004_Week_5,NaN,Sun,2004-10-10,8H 36M 0S,H,Washington Commanders,Baltimore Ravens,0,0,10,17,27,Under,34.0,Failed,NaN,0
881,632,Year_2004_Week_9,NaN,Sun,2004-11-07,1H 2M 0S,H,Cincinnati Bengals,Dallas Cowboys,1,0,26,3,29,Under,44.0,Covered,NaN,0
932,683,Year_2004_Week_12,NaN,Sun,2004-11-28,4H 15M 0S,H,San Francisco 49ers,Miami Dolphins,0,0,17,24,41,Over,37.5,Failed,NaN,0
995,746,Year_2004_Week_16,NaN,Sun,2004-12-26,4H 5M 0S,H,New York Jets,New England Patriots,0,0,7,23,30,Under,41.5,Failed,NaN,0
1095,846,Year_2005_Week_6,NaN,Sun,2005-10-16,1H 2M 0S,H,Detroit Lions,Carolina Panthers,0,0,20,21,41,Under,42.0,Failed,NaN,0
1102,853,Year_2005_Week_6,NaN,Sun,2005-10-16,4H 15M 0S,H,Las Vegas Raiders,Los Angeles Chargers,0,0,14,27,41,Under,50.5,Failed,NaN,0
1138,889,Year_2005_Week_9,NaN,Sun,2005-11-06,1H 2M 0S,H,Tampa Bay Buccaneers,Carolina Panthers,0,0,14,34,48,Over,36.5,Failed,NaN,0
1146,897,Year_2005_Week_9,NaN,Sun,2005-11-06,8H 37M 0S,H,Washington Commanders,Philadelphia Eagles,1,0,17,10,27,Under,41.0,Covered,NaN,0
1206,957,Year_2005_Week_13,NaN,Sun,2005-12-04,4H 15M 0S,H,Kansas City Chiefs,Denver Broncos,1,0,31,27,58,Over,47.0,Covered,NaN,0
1452,1203,Year_2006_Week_13,NaN,Sun,2006-12-03,1H 2M 0S,H,Green Bay Packers,New York Jets,0,0,10,38,48,Over,42.5,Failed,NaN,0
1460,1211,Year_2006_Week_13,NaN,Sun,2006-12-03,4H 5M 0S,H,Miami Dolphins,Jacksonville Jaguars,0,0,10,24,34,Under,35.5,Failed,NaN,0
1689,1440,Year_2007_Week_11,NaN,Mon,2007-11-19,8H 40M 0S,H,Denver Broncos,Tennessee Titans,1,0,34,20,54,Over,38.5,Covered,NaN,0
1717,1468,Year_2007_Week_13,NaN,Sun,2007-12-02,4H 6M 0S,H,Arizona Cardinals,Cleveland Browns,1,0,27,21,48,Under,52.0,Covered,NaN,0
2424,2175,Year_2010_Week_9,NaN,Sun,2010-11-07,4H 15M 0S,H,Las Vegas Raiders,Kansas City Chiefs,1,1,23,20,43,Over,41.0,Covered,NaN,0
2435,2186,Year_2010_Week_10,NaN,Sun,2010-11-14,1H 4M 0S,H,Jacksonville Jaguars,Houston Texans,1,0,31,24,55,Over,48.5,Covered,NaN,0
2491,2242,Year_2010_Week_14,NaN,Sun,2010-12-12,1H 2M 0S,H,Buffalo Bills,Cleveland Browns,1,0,13,6,19,Under,39.0,Covered,NaN,0
2508,2259,Year_2010_Week_15,NaN,Sun,2010-12-19,1H 2M 0S,H,Cincinnati Bengals,Cleveland Browns,1,0,19,17,36,Under,41.0,Covered,NaN,0
2549,2300,Year_2010_Week_17,NaN,Sun,2011-01-02,4H 15M 0S,H,Philadelphia Eagles,Dallas Cowboys,0,0,13,14,27,Under,43.5,Failed,NaN,0
2900,2651,Year_2012_Week_6,NaN,Mon,2012-10-15,8H 40M 0S,H,Los Angeles Chargers,Denver Broncos,0,0,24,35,59,Over,47.5,Failed,NaN,0
3022,2773,Year_2012_Week_15,NaN,Sun,2012-12-16,1H 3M 0S,H,Atlanta Falcons,New York Giants,1,0,34,0,34,Under,50.0,Covered,NaN,0
3157,2908,Year_2013_Week_6,NaN,Mon,2013-10-14,8H 40M 0S,H,Los Angeles Chargers,Indianapolis Colts,1,0,19,9,28,Under,50.5,Covered,NaN,0
3191,2942,Year_2013_Week_9,NaN,Sun,2013-11-03,1H 3M 0S,H,Washington Commanders,Los Angeles Chargers,1,1,30,24,54,Over,49.5,Covered,NaN,0
3396,3147,Year_2014_Week_5,NaN,Sun,2014-10-05,8H 43M 0S,H,New England Patriots,Cincinnati Bengals,1,0,43,17,60,Over,46.0,Covered,NaN,0
3449,3200,Year_2014_Week_9,NaN,Sun,2014-11-02,1H 3M 0S,H,Minnesota Vikings,Washington Commanders,1,0,29,26,55,Over,44.0,Covered,NaN,0
3477,3228,Year_2014_Week_11,NaN,Sun,2014-11-16,1H 4M 0S,H,Kansas City Chiefs,Seattle Seahawks,1,0,24,20,44,Over,42.5,Covered,NaN,0
3512,3263,Year_2014_Week_13,NaN,Sun,2014-11-30,8H 32M 0S,H,Kansas City Chiefs,Denver Broncos,0,0,16,29,45,Under,49.5,Failed,NaN,0
3566,3317,Year_2014_Week_17,NaN,Sun,2014-12-28,1H 2M 0S,H,New York Giants,Philadelphia Eagles,0,0,26,34,60,Over,52.0,Failed,NaN,0
3866,3617,Year_2016_Week_3,NaN,Thu,2016-09-22,8H 26M 0S,H,New England Patriots,Houston Texans,1,0,27,0,27,Under,38.5,Covered,NaN,0
4014,3765,Year_2016_Week_13,NaN,Sun,2016-12-04,1H 0M 0S,H,Chicago Bears,San Francisco 49ers,1,0,26,6,32,Under,44.0,Covered,NaN,0
4127,3878,Year_2017_Week_3,NaN,Sun,2017-09-24,1H 0M 0S,H,Minnesota Vikings,Tampa Bay Buccaneers,1,0,34,17,51,Over,41.0,Covered,NaN,0
4158,3909,Year_2017_Week_5,NaN,Sun,2017-10-08,1H 0M 0S,H,Miami Dolphins,Tennessee Titans,1,0,16,10,26,Under,41.5,Covered,NaN,0
4290,4041,Year_2017_Week_14,NaN,Sun,2017-12-10,1H 0M 0S,H,Tampa Bay Buccaneers,Detroit Lions,0,0,21,24,45,Under,47.5,Failed,NaN,0
5293,180,Year_2021_Week_12,NaN,Mon,2021-11-29,8H 15M 0S,H,Washington Commanders,Seattle Seahawks,1,0,17,15,32,Under,47.0,Covered,NaN,0
5351,238,Year_2021_Week_16,NaN,Sun,2021-12-26,4H 25M 0S,H,Las Vegas Raiders,Denver Broncos,1,0,17,13,30,Under,41.0,Covered,NaN,0

In [8]:
df_old.head()

,Unnamed: 0,source,Day,Date,Time (ET),...4,Favorite,Score,Spread,...8,Underdog,Over/Under,Notes,...12
0,1,Year_2002_Week_1,Thu,"Sep 5, 2002",8:38,NaN,San Francisco 49ers,W 16-13,L -4,@,New York Giants,U 39,Notes,NaN
1,2,Year_2002_Week_1,Sun,"Sep 8, 2002",1:04,NaN,New York Jets,W 37-31 (OT),W -3,@,Buffalo Bills,O 43,NaN,NaN
2,3,Year_2002_Week_1,Sun,"Sep 8, 2002",1:04,@,Carolina Panthers,W 10-7,W PK,NaN,Baltimore Ravens,U 33,NaN,NaN
3,4,Year_2002_Week_1,Sun,"Sep 8, 2002",1:04,@,Chicago Bears,W 27-23,L -4.5,NaN,Minnesota Vikings,O 41,NaN,NaN
4,5,Year_2002_Week_1,Sun,"Sep 8, 2002",1:04,@,Cincinnati Bengals,L 6-34,L -3,NaN,San Diego Chargers,O 37,NaN,NaN

In [19]:
df_old['Score'].sample(30)

1632         W 28-21
3108         W 23-21
1511         L 23-38
4447         W 27-17
4654         L 30-37
2622         L 18-34
784           W 10-3
2132         W 28-20
3004         W 17-10
2184         W 31-16
3487         W 20-13
4629         W 31-28
459           W 17-6
2540          W 20-7
4070         W 37-16
2531         W 27-24
3824         L 10-27
719          W 49-38
4653         W 38-31
3862          W 26-9
3636         W 27-20
3548         W 30-14
851          W 27-17
2820         W 34-24
4333         W 31-28
4304         L 28-29
473     W 23-20 (OT)
2457         L 21-27
3576         L 23-34
3557         L 12-18
Name: Score, dtype: object